@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: haha;
  src: url('Satoshi-Regular.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  scroll-behavior: smooth;
}



#nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 100px;
  padding-block: 26px;

  z-index: 99;

  width: 100%;

}

#cursor,
#blur {
  pointer-events: none;
}

#cursor {
  height: 12px;
  width: 12px;
  background-color: #fffffff3;
  border-radius: 50%;
  filter: blur(0.5px);

  position: fixed;
  z-index: 10;
}

#blur {
  height: 300px;
  width: 300px;
  background-color: #ffffff1c;
  border-radius: 50%;
  filter: blur(80px);

  position: fixed;
  z-index: 10;
}

.left {
  font-size: 20px;
  font-weight: 500;

  & a {
    text-decoration: none;

    font-size: 17px;
    font-weight: 500;


    transition: all ease-in-out 250ms;
  }
}

.right ul {
  display: flex;
  gap: 30px;

  & li {
    list-style: none;
  }

  & li a {
    text-decoration: none;

    font-size: 17px;
    font-weight: 500;

    color: #ffffffa6;

    transition: all ease-in-out 250ms;
  }
}

.right ul li a:hover {
  color: #ffffff;

  font-size: 17.2px;

}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.45);


}

#page1 {
  padding-top: 90px;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#page1 h5 {
  font-family: "haha";
  font-size: 85px;
  font-weight: 100;
  width: 50%;
  margin-bottom: 10px;
  line-height: 105px;

}

#page1 h3 {
  font-family: 'inter';
  color: #c1c1c1;

  font-size: 15px;
  font-weight: 300;
  width: 32%;
  line-height: 25px;
}

.up img {
  height: 67px;
}

#page1 img {


  transition: all ease-in-out 300ms;
}


.btnsect {
  display: flex;
  margin-top: 15px;

  gap: 10px;
}

.btnsect .pt1 img {
  height: 70px;
}

.btnsect .pt2 img {
  padding-bottom: 11px;
  height: 80px;
}

.scrlldwn {
  display: flex;
  align-items: center;
  columns: 2;


  column-fill: balance;
  column-rule: 2px solid #ff44cc;

  margin-top: 50px;
  margin-bottom: 50px;

  & .one,
  .two,
  .three {
    color: #ffffffa6;
  }
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
  width: 230px;
  background: linear-gradient(to right, transparent, white, transparent);
  opacity: 0.4;
}

.two i {
  font-size: 29px;
  color: #ffffffa6;
}

.two {
  /* animation */
  animation: moveUpDown 3.5s ease-in-out infinite;
}

@keyframes moveUpDown {

  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  50% {
    transform: translateY(6px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }

}





.carousel {
  margin: 5px auto;
  width: 55%;
  padding-top: 1px;
  display: flex;
  overflow-x: auto;
  background-color: transparent;
  z-index: 999;

  mask-image: linear-gradient(to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%);

  -webkit-mask-image: linear-gradient(to right,
      transparent 0%,
      black 15%,
      black 85%,
      transparent 100%);
}



.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  animation: spin 15s infinite linear;
  padding-right: 1em;
  z-index: 99;
}

.card {
  flex: 0 0 5em;
  padding: 1em;
  border-radius: .2em;
  text-align: center;
  display: flex;
  z-index: 99;
}

.card img {
  height: 26.93px;
  opacity: 0.5;
}

@keyframes spin {
  from {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}

#page2 {
  border-top: 0.1px solid rgba(255, 255, 255, 0.241);
  z-index: 99;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
}

#page2 {
  height: 90vh;
  width: 100%;

  background-color: transparent;
}

.mysection {
  display: flex;

  margin: auto;
  background-color: transparent;
  width: 90%;
  height: 80vh;
  margin-top: 10vh;
}

.rght {
  width: 50%;
  height: 100%;
  background-color: transparent;
}

.rght .imge {
  margin-top: 5%;
  margin-left: 5%;
  height: 90%;
  width: 90%;
  background-color: transparent;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.8);
  }
}

.lft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: transparent;
  gap: 15px;
  padding-left: 10px;
}



.prt1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 92px;
  background-color: transparent;

  font-family: "haha";
  font-size: 95px;

}

.prt2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 92px;
  background-color: transparent;

  font-family: "inter";
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.box {
  background-color: #1c1c1c;
  padding: 10px;
  padding: 12px;
  border-radius: 5px;
}

.prt3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  gap: 20px;
  line-height: 10px;

  width: 100%;
  height: 150px;
  background-color: transparent;
  padding-block: 25px;


  border-top: 0.1px solid rgba(255, 255, 255, 0.241);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.241);


}

.prt4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;

  width: 100%;
  height: 205px;
  background-color: transparent;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* 3 equal columns */
  gap: 20px;
  color: rgb(255, 255, 255);
  width: 98%;
}

.table div {
  padding: 15px 0;
  color: #ffffffa6;
  font-family: "inter";
  font-weight: 400;
}

/* align left, center, right */
.table div:nth-child(3n+1) {
  text-align: left;
}

.table div:nth-child(3n+2) {
  text-align: center;
}

.table div:nth-child(3n+3) {
  text-align: right;
}

#page3{
  height: 100vh;
  width: 100%;
}

#rcntwrk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 95px;
  height: 20px;
  width: fit-content;
  background-color: transparent;
  gap: 10px;
  font-size: 24px;
  font-family: "inter";
  font-weight: 500;
  padding-right: 10px;
}

#arrow i {
  font-size: 30px;
  font-weight: 200;
}

#wrkgllry {
  width: 90%;
  margin: auto;
  height: 410px;
  margin-block: 50px;
  background-color: rgba(54, 22, 22, 0);

  border-top: 0.1px solid rgba(255, 255, 255, 0.102);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.102);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pics {
  display: flex;
  flex-direction: column;

  height: 330px;
  width: 330px;
  background-color: rgb(7, 5, 5);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  border-radius: 10px;


}

.pics img{
  height: 330px;
  width: 330px;
}
.botmbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  position: absolute;
  margin-bottom: 10px;
  padding-block: 11px;
  color: #ffffffe0;

  border-radius: 50px;
   border: 0.1px solid rgba(255, 255, 255, 0.61);

  background-color: #ffffff15;
  backdrop-filter: blur(15px);

  gap: 10px;
 
}

.i1 i{
  font-size: 22px;
}


